#downbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #2b2b2b;
    border-top: 4px dashed #f4d03f; /* línea de carretera */
    padding: 12px 0;
    transition: transform 0.3s ease-in-out;
}

#downbar.oculto {
    transform: translateY(100%);
}